n8n/scan-workflow.json
{
  "name": "Arbo Concern Bedrijfsgezondheidscan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arbo-bedrijfsgezondheidscan",
        "responseMode": "onReceived",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1",
      "name": "Scan Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/*\n * render.js — bouwt de PDF-HTML (tussenrapport + eindrapport) uit de webhook-payload.\n * Opmaak is 1-op-1 de Claude Design-templates; dynamische velden, stoplichtkleuren en\n * de roos worden hier uit de echte scores ingevuld. Logo via de live-URL (Gotenberg/\n * Chromium haalt 'm op), zodat de HTML klein blijft.\n *\n * Gebruik in n8n (Code-node):\n *   const html = renderReport($json.body);   // kiest tussen- of eindrapport op `event`\n * Lokaal testen:\n *   node render.js   // rendert sample-payload.json naar /tmp/*.html\n */\n\nconst LOGO = 'https://www.arboconcern.nl/bestanden/arboconcern-logo.svg';\nconst NORM = 80;\nconst MONTHS = ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli',\n  'augustus', 'september', 'oktober', 'november', 'december'];\n\n/* ---------- helpers ---------- */\nfunction esc(s) {\n  return String(s == null ? '' : s).replace(/[&<>\"']/g, (c) =>\n    ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;', \"'\": '&#39;' }[c]));\n}\nfunction fmtDate(iso) {\n  const d = iso ? new Date(iso) : new Date();\n  return `${d.getDate()} ${MONTHS[d.getMonth()]} ${d.getFullYear()}`;\n}\n// echte stoplichtlogica (zelfde banden als scoring.js): >=75 groen, 55-74 oranje, <55 rood\nfunction stKey(s) { return s >= 75 ? 'groen' : s >= 55 ? 'oranje' : 'rood'; }\nfunction stSolid(s) { return { groen: '#4bb3a6', oranje: '#ec641a', rood: '#6b6f7e' }[stKey(s)]; }\nfunction stText(s) { return { groen: '#3a9a8f', oranje: '#ec641a', rood: '#6b6f7e' }[stKey(s)]; }\nfunction stBar(s) {\n  return { groen: 'linear-gradient(90deg,#6fc3b8,#4bb3a6)', oranje: 'linear-gradient(90deg,#f08b4c,#ec641a)', rood: 'linear-gradient(90deg,#868a98,#6b6f7e)' }[stKey(s)];\n}\nfunction statusWord(s) { return { groen: 'Op koers', oranje: 'Aandacht', rood: 'Prioriteit' }[stKey(s)]; }\n\n// korte rubrieklabels voor de roos + tabel (full theme -> kort)\nconst SHORT = {\n  'Verzuimbeeld en data': 'Verzuimbeeld en data',\n  'Leidinggevende regie': 'Leidinggevende regie',\n  'Beleid, proces en Poortwachter': 'Beleid en Poortwachter',\n  'Preventie en werkbelasting': 'Preventie en werkbelasting',\n  'Medewerker en cultuur': 'Medewerker en cultuur',\n  'Arbodienst, adviseurs en samenwerking': 'Arbodienst en samenwerking',\n  'Kosten, verzekering en risico': 'Kosten en risico',\n  'Vitaliteit en duurzame inzetbaarheid': 'Vitaliteit en inzetbaarheid',\n  'Governance en verbetering': 'Governance en verbetering',\n};\nconst SHORT_DEF = (t) => SHORT[t] || t;\n\n/* gedeelde stukjes */\nconst HEAD = (titel) => `<!DOCTYPE html><html lang=\"nl\"><head><meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\"><link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Lato:wght@400;700;900&display=swap\" rel=\"stylesheet\">\n<title>${esc(titel)}</title>\n<style>*{box-sizing:border-box}html,body{margin:0;padding:0}\nbody{background:#e7e8ea;font-family:'Lato',sans-serif;color:#4c505a;-webkit-print-color-adjust:exact;print-color-adjust:exact}\n.sheet{width:210mm;min-height:297mm;margin:0 auto 22px;background:#fff;position:relative;overflow:hidden;box-shadow:0 14px 44px rgba(40,44,54,.16)}\n@page{size:A4;margin:0}@media print{body{background:#fff}.sheet{margin:0;box-shadow:none;break-after:page}.sheet:last-child{break-after:auto}}</style></head><body>`;\nconst TAIL = `</body></html>`;\n\nconst dotrow = (lbl) => `<div style=\"display:flex;align-items:center;gap:9px;\"><span style=\"display:flex;gap:4px;\"><span style=\"width:6px;height:6px;border-radius:50%;background:#4bb3a6;\"></span><span style=\"width:6px;height:6px;border-radius:50%;background:#ec641a;\"></span><span style=\"width:6px;height:6px;border-radius:50%;background:#6b6f7e;\"></span></span><span style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:10px;letter-spacing:1.5px;text-transform:uppercase;color:#9a9ea8;\">${lbl}</span></div>`;\nconst pageFooter = (org, datum, paginas, tag) => `<footer style=\"display:flex;justify-content:space-between;align-items:center;padding-top:13px;border-top:1px solid #edeef0;\">${dotrow('Bedrijfsgezondheidscan')}<div style=\"display:flex;align-items:center;gap:13px;\"><span style=\"font-family:'Lato',sans-serif;font-size:11px;color:#aeb2bb;\">${esc(org)} &middot; ${esc(datum)}</span><span style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:10.5px;color:#4ba39c;background:rgba(121,198,222,.18);border-radius:20px;padding:5px 12px;\">${paginas}</span></div></footer>`;\nconst innerHeader = (tag) => `<div style=\"display:flex;justify-content:space-between;align-items:center;padding-bottom:11px;border-bottom:1px solid #edeef0;\"><img src=\"${LOGO}\" alt=\"arboconcern\" style=\"height:20px;width:auto;display:block;\"><div style=\"font-family:'Lato',sans-serif;font-size:11px;letter-spacing:1.5px;text-transform:uppercase;color:#aeb2bb;\">${tag}</div></div>`;\n// 3-dot profielbadge met de actieve kleur opgelicht\nfunction profileBadge(score, size) {\n  const k = stKey(score);\n  const dot = (c, on) => `<span style=\"width:${size}px;height:${size}px;border-radius:50%;background:${c};${on ? `box-shadow:0 0 0 ${size > 30 ? 7 : 4}px ${c}2e;` : 'opacity:.22;'}\"></span>`;\n  return `${dot('#4bb3a6', k === 'groen')}${dot('#ec641a', k === 'oranje')}${dot('#6b6f7e', k === 'rood')}`;\n}\n\n/* ---------- roos-SVG, herberekend uit de 9 rubriekscores ---------- */\nconst CX = 500, CY = 415, R = 225;\nconst LABELS = [\n  { x: 500.0, a: 'middle', l: ['Verzuimbeeld', 'en data'] },\n  { x: 657.5, a: 'start', l: ['Leidinggevende', 'regie'] },\n  { x: 741.3, a: 'start', l: ['Beleid en', 'Poortwachter'] },\n  { x: 712.2, a: 'start', l: ['Preventie en', 'werkbelasting'] },\n  { x: 583.8, a: 'start', l: ['Medewerker', 'en cultuur'] },\n  { x: 416.2, a: 'end', l: ['Arbodienst en', 'samenwerking'] },\n  { x: 287.8, a: 'end', l: ['Kosten', 'en risico'] },\n  { x: 258.7, a: 'end', l: ['Vitaliteit en', 'inzetbaarheid'] },\n  { x: 342.5, a: 'end', l: ['Governance en', 'verbetering'] },\n];\nconst LABEL_Y = [142.0, 199.3, 356.5, 551.5, 659.2, 659.2, 551.5, 356.5, 199.3];\nfunction pt(score, i, radius) {\n  const ang = (-90 + i * 40) * Math.PI / 180;\n  const r = radius * (score / 100);\n  return [(CX + Math.cos(ang) * r).toFixed(1), (CY + Math.sin(ang) * r).toFixed(1)];\n}\nfunction ringPoly(pct, stroke, extra = '') {\n  const pts = LABELS.map((_, i) => pt(pct, i, R).join(',')).join(' ');\n  return `<polygon points=\"${pts}\" fill=\"none\" stroke=\"${stroke}\" stroke-width=\"1.5\" ${extra}/>`;\n}\n// compacte, label-loze roos voor de cover (uitgesneden om het scorevlak)\nfunction buildRoosMini(rubrieken) {\n  const byTheme = {}; rubrieken.forEach((r) => (byTheme[r.theme] = r.score));\n  const scores = Object.keys(SHORT).map((t) => byTheme[t] ?? 0);\n  let svg = `<svg viewBox=\"268 183 464 464\" width=\"146\" height=\"146\" xmlns=\"http://www.w3.org/2000/svg\">`;\n  [50, 100].forEach((p) => (svg += ringPoly(p, '#e3e6e9', 'stroke-width=\"2\"')));\n  svg += `<polygon points=\"${LABELS.map((_, i) => pt(NORM, i, R).join(',')).join(' ')}\" fill=\"none\" stroke=\"#79c6c0\" stroke-width=\"2.5\" stroke-dasharray=\"3 6\" stroke-linejoin=\"round\"/>`;\n  svg += `<polygon points=\"${scores.map((s, i) => pt(s, i, R).join(',')).join(' ')}\" fill=\"#ec641a\" fill-opacity=\"0.16\" stroke=\"#ec641a\" stroke-width=\"3\" stroke-linejoin=\"round\"/>`;\n  svg += `</svg>`;\n  return svg;\n}\nfunction buildRoosSvg(rubrieken) {\n  // rubrieken in canonieke volgorde; val terug op 0 als een rubriek ontbreekt\n  const byTheme = {};\n  rubrieken.forEach((r) => (byTheme[r.theme] = r.score));\n  const order = Object.keys(SHORT);\n  const scores = order.map((t) => byTheme[t] ?? 0);\n\n  let svg = `<svg viewBox=\"0 0 1000 830\" style=\"display:block;width:100%;max-width:660px;max-height:505px;margin:0 auto;\" xmlns=\"http://www.w3.org/2000/svg\">`;\n  svg += `<circle cx=\"${CX}\" cy=\"${CY}\" r=\"${R}\" fill=\"#fafbfc\"/>`;\n  // ringen 25/50/75/100\n  [25, 50, 75, 100].forEach((p) => (svg += ringPoly(p, '#e7e9ec')));\n  // assen\n  LABELS.forEach((_, i) => { const [x, y] = pt(100, i, R); svg += `<line x1=\"${CX}\" y1=\"${CY}\" x2=\"${x}\" y2=\"${y}\" stroke=\"#e7e9ec\" stroke-width=\"1.5\"/>`; });\n  // gridcijfers langs de bovenas\n  [[25, 362.8], [50, 306.5], [75, 250.3], [100, 194.0]].forEach(([n, y]) => (svg += `<text x=\"508.0\" y=\"${y}\" font-family=\"Lato, sans-serif\" font-size=\"12\" fill=\"#c2c6cd\">${n}</text>`));\n  // normlijn 80 (gestippeld teal)\n  svg += `<polygon points=\"${LABELS.map((_, i) => pt(NORM, i, R).join(',')).join(' ')}\" fill=\"none\" stroke=\"#79c6c0\" stroke-width=\"2\" stroke-dasharray=\"3 5\" stroke-linejoin=\"round\"/>`;\n  // scorevlak\n  const sp = scores.map((s, i) => pt(s, i, R).join(',')).join(' ');\n  svg += `<polygon points=\"${sp}\" fill=\"#ec641a\" fill-opacity=\"0.15\" stroke=\"#ec641a\" stroke-width=\"2.5\" stroke-linejoin=\"round\"/>`;\n  // punten per as, gekleurd op stoplicht\n  scores.forEach((s, i) => { const [x, y] = pt(s, i, R); svg += `<circle cx=\"${x}\" cy=\"${y}\" r=\"5\" fill=\"${stSolid(s)}\" stroke=\"#fff\" stroke-width=\"1.5\"/>`; });\n  // labels met % en kleur\n  scores.forEach((s, i) => {\n    const L = LABELS[i], y = LABEL_Y[i];\n    svg += `<text x=\"${L.x}\" y=\"${y}\" text-anchor=\"${L.a}\" font-family=\"Lato, sans-serif\" font-size=\"15.5\" font-weight=\"700\" fill=\"#4c505a\"><tspan x=\"${L.x}\">${esc(L.l[0])}</tspan><tspan x=\"${L.x}\" dy=\"16.5\">${esc(L.l[1])}</tspan><tspan x=\"${L.x}\" dy=\"17.5\" font-family=\"Comfortaa, sans-serif\" font-size=\"15\" font-weight=\"700\" fill=\"${stText(s)}\">${s}%</tspan></text>`;\n  });\n  svg += `</svg>`;\n  return svg;\n}\n\n/* ---------- TUSSENRAPPORT ---------- */\nfunction renderTussenrapport(p) {\n  const c = p.contact || {};\n  const q = p.quickscan || {};\n  const org = c.organisatie || 'Uw organisatie';\n  const datum = fmtDate(p.timestamp);\n  const data = q.data_score ?? 0, regie = q.regie_score ?? 0;\n  const overall = q.overall ?? Math.round((data + regie) / 2);\n  const prof = q.profiel || {};\n  const worst = q.laagste_rubriek || 'Verzuimbeeld en data';\n  const tips = (q.tips || []).slice(0, 4);\n  const scoreBar = (label, s) => `<div style=\"margin-bottom:18px;\"><div style=\"display:flex;justify-content:space-between;align-items:baseline;margin-bottom:11px;\"><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:16px;color:#4c505a;\">${esc(label)}</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:27px;color:${stText(s)};line-height:1;\">${s}<span style=\"font-size:17px;\">%</span></div></div><div style=\"position:relative;height:16px;background:#eef0f2;border-radius:10px;\"><div style=\"position:absolute;left:0;top:0;bottom:0;width:${s}%;background:${stBar(s)};border-radius:10px;\"></div><div style=\"position:absolute;left:80%;top:-6px;bottom:-6px;border-left:2px dashed #79c6c0;\"></div></div></div>`;\n  const tipCard = (t, i) => `<div style=\"background:#fff;border:1px solid #edeef0;border-radius:16px;padding:22px;break-inside:avoid;box-shadow:0 6px 16px rgba(76,80,90,.04);\"><div style=\"width:42px;height:42px;border-radius:12px;background:#ec641a;color:#fff;font-family:'Comfortaa',sans-serif;font-weight:700;font-size:20px;display:flex;align-items:center;justify-content:center;box-shadow:0 7px 16px rgba(236,100,26,.28);margin-bottom:14px;\">${i + 1}</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:17px;color:#4c505a;margin-bottom:7px;\">${esc(t.kop)}</div><p style=\"margin:0;font-family:'Lato',sans-serif;font-size:14px;line-height:1.58;color:#686c7c;\">${esc(t.tekst)}</p></div>`;\n\n  return HEAD('Stoplicht-tussenrapport') +\n  // PAGE 1 — COVER\n  `<section class=\"sheet\" style=\"display:flex;flex-direction:column;padding:22mm 22mm 0;\">\n    <div aria-hidden=\"true\" style=\"position:absolute;top:-150px;right:-150px;width:440px;height:440px;border-radius:50%;background:radial-gradient(circle at 36% 36%,rgba(133,206,228,.34),rgba(121,198,192,.10) 70%);\"></div>\n    <div aria-hidden=\"true\" style=\"position:absolute;bottom:150px;left:-100px;width:260px;height:260px;border-radius:50%;background:radial-gradient(circle,rgba(236,100,26,.07),rgba(236,100,26,0) 70%);\"></div>\n    <header style=\"position:relative;z-index:1;display:flex;justify-content:space-between;align-items:flex-start;\"><div style=\"line-height:1;\"><img src=\"${LOGO}\" alt=\"arboconcern\" style=\"height:54px;width:auto;display:block;\"></div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:2.5px;color:#9a9ea8;text-transform:uppercase;border:1px solid #e7e9ec;border-radius:30px;padding:9px 18px;\">Bedrijfsgezondheidscan</div></header>\n    <div style=\"position:relative;z-index:1;flex:1;display:flex;align-items:center;gap:40px;\">\n      <div style=\"flex:1;\"><div style=\"display:inline-block;font-family:'Lato',sans-serif;font-weight:700;font-size:13px;letter-spacing:1.5px;text-transform:uppercase;color:#4ba39c;background:rgba(121,198,192,.16);border-radius:30px;padding:8px 18px;margin-bottom:22px;\">Stoplicht&#8209;tussenrapport</div>\n      <h1 style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:54px;line-height:1.06;letter-spacing:-1.5px;color:#4c505a;margin:0;\">Hoe gezond is<br>uw bedrijf?</h1>\n      <p style=\"font-family:'Lato',sans-serif;font-size:16px;line-height:1.6;color:#686c7c;margin:22px 0 0;max-width:430px;\">Een eerste beeld van uw verzuim, regie en preventie, in één oogopslag met het stoplicht.</p></div>\n      <div style=\"flex:none;width:118px;background:#f7f8f9;border:1px solid #edeef0;border-radius:64px;padding:22px 0;display:flex;flex-direction:column;align-items:center;gap:20px;box-shadow:inset 0 2px 10px rgba(76,80,90,.05);\">${profileBadge(overall, 58)}</div>\n    </div>\n    <footer style=\"position:relative;z-index:1;padding:24px 0 30px;border-top:1px solid #edeef0;margin-top:10px;display:flex;gap:70px;\"><div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#aeb2bb;margin-bottom:7px;\">Opgesteld voor</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:19px;color:#4c505a;\">${esc(org)}</div></div><div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#aeb2bb;margin-bottom:7px;\">Datum</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:19px;color:#4c505a;\">${esc(datum)}</div></div></footer>\n    <div aria-hidden=\"true\" style=\"position:absolute;left:0;right:0;bottom:0;height:10px;background:linear-gradient(90deg,#79c6c0,#85cee4 45%,#ec641a);\"></div>\n  </section>` +\n  // PAGE 2 — PROFIEL + SCORES + UITLEG\n  `<section class=\"sheet\" style=\"display:flex;flex-direction:column;padding:16mm 18mm 13mm;\">${innerHeader('Stoplicht-tussenrapport')}\n    <main style=\"flex:1;display:flex;flex-direction:column;justify-content:center;gap:28px;\">\n      <section><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:12px;\">Uw profiel</div>\n        <div style=\"display:flex;gap:24px;align-items:center;background:#f7f8f9;border:1px solid #edeef0;border-radius:18px;padding:24px 26px;\"><div style=\"flex:none;width:56px;background:#fff;border:1px solid #e7e9ec;border-radius:32px;padding:11px 0;display:flex;flex-direction:column;align-items:center;gap:10px;box-shadow:0 5px 14px rgba(76,80,90,.06);\">${profileBadge(overall, 24)}</div>\n        <div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:1.5px;text-transform:uppercase;color:#ec8a57;margin-bottom:4px;\">Profiel &middot; ${statusWord(overall)}</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:31px;line-height:1.1;color:${stText(overall)};margin-bottom:9px;\">${esc(prof.naam || '')}</div><p style=\"margin:0;font-family:'Lato',sans-serif;font-size:15px;line-height:1.62;color:#686c7c;max-width:540px;\">${esc(prof.tekst || '')}</p></div></div></section>\n      <section><div style=\"display:flex;justify-content:space-between;align-items:flex-end;margin-bottom:18px;\"><div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:6px;\">Twee kernscores</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:22px;color:#4c505a;\">Waar staat u nu?</div></div><div style=\"display:flex;align-items:center;gap:8px;font-family:'Lato',sans-serif;font-size:12.5px;color:#9a9ea8;\"><span style=\"display:inline-block;width:26px;border-top:2px dashed #79c6c0;\"></span>Norm 80%</div></div>\n        ${scoreBar('Verzuimbeeld en data', data)}${scoreBar('Leidinggevende regie', regie)}\n        <div style=\"display:flex;align-items:center;gap:12px;background:#fdf1ea;border:1px solid #f7d8c7;border-radius:13px;padding:13px 18px;\"><span style=\"flex:none;width:26px;height:26px;border-radius:50%;background:#ec641a;color:#fff;font-family:'Comfortaa',sans-serif;font-weight:700;font-size:15px;display:flex;align-items:center;justify-content:center;\">!</span><div style=\"font-family:'Lato',sans-serif;font-size:14.5px;color:#7a5340;\"><span style=\"font-weight:700;color:#c4561a;\">Meeste aandacht:</span> ${esc(worst)}</div></div></section>\n      <section><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:14px;\">Wat betekent dit?</div>\n        <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:18px;\">\n          <div style=\"background:#fff;border:1px solid #edeef0;border-radius:16px;padding:21px 22px;break-inside:avoid;\"><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:17px;color:#4c505a;margin-bottom:9px;\">Verzuimbeeld en data</div><p style=\"margin:0 0 14px;font-family:'Lato',sans-serif;font-size:13.5px;line-height:1.58;color:#686c7c;\">Dit laat zien of verzuim niet alleen wordt geregistreerd, maar ook begrepen en gebruikt om te sturen.</p><div style=\"display:flex;gap:11px;align-items:flex-start;margin-bottom:9px;\"><span style=\"flex:none;font-family:'Lato',sans-serif;font-weight:700;font-size:11px;color:#3a8f86;background:rgba(75,179,166,.15);border-radius:8px;padding:3px 10px;\">HOOG</span><span style=\"font-family:'Lato',sans-serif;font-size:13px;line-height:1.5;color:#686c7c;\">Trends, oorzaken en kosten zijn zichtbaar en leiden tot actie.</span></div><div style=\"display:flex;gap:11px;align-items:flex-start;\"><span style=\"flex:none;font-family:'Lato',sans-serif;font-weight:700;font-size:11px;color:#6b6f7e;background:rgba(107,111,126,.12);border-radius:8px;padding:3px 10px;\">LAAG</span><span style=\"font-family:'Lato',sans-serif;font-size:13px;line-height:1.5;color:#686c7c;\">Verzuim wordt vooral reactief en per geval behandeld.</span></div></div>\n          <div style=\"background:#fff;border:1px solid #edeef0;border-radius:16px;padding:21px 22px;break-inside:avoid;\"><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:17px;color:#4c505a;margin-bottom:9px;\">Leidinggevende regie</div><p style=\"margin:0 0 14px;font-family:'Lato',sans-serif;font-size:13.5px;line-height:1.58;color:#686c7c;\">Dit laat zien of leidinggevenden vanaf dag één actief, zorgvuldig en privacybewust regie nemen op verzuim en terugkeer.</p><div style=\"display:flex;gap:11px;align-items:flex-start;margin-bottom:9px;\"><span style=\"flex:none;font-family:'Lato',sans-serif;font-weight:700;font-size:11px;color:#3a8f86;background:rgba(75,179,166,.15);border-radius:8px;padding:3px 10px;\">HOOG</span><span style=\"font-family:'Lato',sans-serif;font-size:13px;line-height:1.5;color:#686c7c;\">Rollen, gesprekken en ondersteuning zijn duidelijk.</span></div><div style=\"display:flex;gap:11px;align-items:flex-start;\"><span style=\"flex:none;font-family:'Lato',sans-serif;font-weight:700;font-size:11px;color:#6b6f7e;background:rgba(107,111,126,.12);border-radius:8px;padding:3px 10px;\">LAAG</span><span style=\"font-family:'Lato',sans-serif;font-size:13px;line-height:1.5;color:#686c7c;\">Risico op vertraging en wisselende aanpak.</span></div></div>\n        </div></section>\n    </main>${pageFooter(org, datum, '2 / 3')}</section>` +\n  // PAGE 3 — TIPS + CTA\n  `<section class=\"sheet\" style=\"display:flex;flex-direction:column;padding:16mm 18mm 13mm;\">${innerHeader('Stoplicht-tussenrapport')}\n    <main style=\"flex:1;display:flex;flex-direction:column;justify-content:center;gap:24px;\">\n      <section><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:6px;\">Aan de slag</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:23px;color:#4c505a;margin-bottom:18px;\">Vier tips om mee te starten</div>\n        <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:16px;\">${tips.map(tipCard).join('')}</div></section>\n      <section><div style=\"position:relative;overflow:hidden;border-radius:22px;padding:32px 34px;background:linear-gradient(120deg,#79c6c0,#85cee4);break-inside:avoid;\"><div aria-hidden=\"true\" style=\"position:absolute;top:-70px;right:-40px;width:230px;height:230px;border-radius:50%;background:rgba(255,255,255,.14);\"></div><div style=\"position:relative;z-index:1;\"><div style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:27px;color:#fff;margin-bottom:9px;\">Tijd om aan de slag te gaan</div><p style=\"margin:0 0 22px;max-width:560px;font-family:'Lato',sans-serif;font-size:15px;line-height:1.6;color:rgba(255,255,255,.94);\">Plan een vrijblijvend adviesgesprek of doe de verdieping voor het volledige beeld van uw bedrijfsgezondheid.</p><div style=\"display:flex;align-items:center;gap:14px;flex-wrap:wrap;\"><span style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:15px;color:#fff;background:#ec641a;border-radius:30px;padding:13px 26px;box-shadow:0 10px 22px rgba(236,100,26,.32);\">Plan een adviesgesprek</span><span style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:15px;color:#fff;border:2px solid rgba(255,255,255,.75);border-radius:30px;padding:11px 24px;\">Doe de verdieping</span><span style=\"margin-left:auto;font-family:'Lato',sans-serif;font-weight:700;font-size:13.5px;color:rgba(255,255,255,.95);\">arboconcern.nl &middot; 071 - 204 1801</span></div></div></div></section>\n    </main>${pageFooter(org, datum, '3 / 3')}</section>` +\n  TAIL;\n}\n\n/* ---------- EINDRAPPORT ---------- */\nfunction renderEindrapport(p) {\n  const c = p.contact || {};\n  const e = p.eindrapport || {};\n  const q = p.quickscan || {};\n  const org = c.organisatie || 'Uw organisatie';\n  const datum = fmtDate(p.timestamp);\n  const prof = q.profiel || {};\n  const overall = e.overall ?? 0;\n  const rubrieken = e.rubrieken || [];\n  const top3 = e.top3_prioriteiten || [];\n  const samenvatting = (q.rapportageteksten && q.rapportageteksten.overall && q.rapportageteksten.overall.tekst) || prof.tekst || '';\n\n  const tableRow = (r, last) => {\n    const s = r.score, col = stSolid(s);\n    return `<tr style=\"break-inside:avoid;${last ? '' : 'border-bottom:1px solid #f1f2f4;'}\"><td style=\"padding:11px 18px;\"><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:14px;color:#4c505a;margin-bottom:7px;\">${esc(SHORT_DEF(r.theme))}</div><div style=\"position:relative;height:5px;background:#eef0f2;border-radius:4px;max-width:300px;\"><div style=\"position:absolute;left:0;top:0;bottom:0;width:${s}%;background:${col};border-radius:4px;\"></div><div style=\"position:absolute;left:80%;top:-2px;bottom:-2px;border-left:1.5px solid #cfd3da;\"></div></div></td><td style=\"text-align:right;padding:11px 14px;font-family:'Comfortaa',sans-serif;font-weight:700;font-size:18px;color:${stText(s)};\">${s}%</td><td style=\"text-align:center;padding:11px 14px;font-family:'Lato',sans-serif;font-size:13px;color:#aeb2bb;\">80</td><td style=\"padding:11px 18px;\"><span style=\"display:inline-flex;align-items:center;gap:8px;font-family:'Lato',sans-serif;font-size:13px;color:#686c7c;\"><span style=\"width:11px;height:11px;border-radius:50%;background:${col};\"></span>${statusWord(s)}</span></td></tr>`;\n  };\n  const prioRow = (pr, i) => {\n    const s = pr.score, col = stSolid(s), afst = pr.aandachtsscore ?? (NORM - s);\n    return `<div style=\"display:flex;align-items:center;gap:18px;background:#fff;border:1px solid #edeef0;border-radius:14px;padding:15px 20px;break-inside:avoid;\"><div style=\"flex:none;width:40px;height:40px;border-radius:12px;background:${col};color:#fff;font-family:'Comfortaa',sans-serif;font-weight:700;font-size:19px;display:flex;align-items:center;justify-content:center;\">${i + 1}</div><div style=\"flex:1;\"><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:17px;color:#4c505a;margin-bottom:8px;\">${esc(SHORT_DEF(pr.thema))}</div><div style=\"position:relative;height:6px;background:#eef0f2;border-radius:4px;max-width:360px;\"><div style=\"position:absolute;left:0;top:0;bottom:0;width:${s}%;background:${col};border-radius:4px;\"></div><div style=\"position:absolute;left:80%;top:-3px;bottom:-3px;border-left:2px dashed #79c6c0;\"></div></div></div><div style=\"flex:none;text-align:right;\"><div style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:24px;color:${stText(s)};line-height:1;\">${s}%</div><div style=\"font-family:'Lato',sans-serif;font-size:12px;color:#9a9ea8;margin-top:4px;\">${afst} punten onder de norm</div></div></div>`;\n  };\n\n  return HEAD('Volledig eindrapport') +\n  // PAGE 1 — COVER (met mini-roos)\n  `<section class=\"sheet\" style=\"display:flex;flex-direction:column;padding:22mm 22mm 0;\"><div aria-hidden=\"true\" style=\"position:absolute;top:-150px;right:-150px;width:440px;height:440px;border-radius:50%;background:radial-gradient(circle at 36% 36%,rgba(133,206,228,.34),rgba(121,198,192,.10) 70%);\"></div><div aria-hidden=\"true\" style=\"position:absolute;bottom:150px;left:-100px;width:260px;height:260px;border-radius:50%;background:radial-gradient(circle,rgba(236,100,26,.07),rgba(236,100,26,0) 70%);\"></div>\n    <header style=\"position:relative;z-index:1;display:flex;justify-content:space-between;align-items:flex-start;\"><div style=\"line-height:1;\"><img src=\"${LOGO}\" alt=\"arboconcern\" style=\"height:54px;width:auto;display:block;\"></div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:2.5px;color:#9a9ea8;text-transform:uppercase;border:1px solid #e7e9ec;border-radius:30px;padding:9px 18px;\">Bedrijfsgezondheidscan</div></header>\n    <div style=\"position:relative;z-index:1;flex:1;display:flex;align-items:center;gap:30px;\"><div style=\"flex:1;\"><div style=\"display:inline-block;font-family:'Lato',sans-serif;font-weight:700;font-size:13px;letter-spacing:1.5px;text-transform:uppercase;color:#4ba39c;background:rgba(121,198,192,.16);border-radius:30px;padding:8px 18px;margin-bottom:22px;\">Volledig eindrapport</div><h1 style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:36px;line-height:1.16;letter-spacing:-0.5px;color:#4c505a;margin:0;\">De gezondheid<br>van jullie bedrijf<br>in één roos</h1><p style=\"font-family:'Lato',sans-serif;font-size:16px;line-height:1.6;color:#686c7c;margin:24px 0 0;max-width:455px;\">De volledige diagnose: negen rubrieken, samengebracht in één heldere roos. Zo ziet u in één oogopslag waar u sterk staat en waar de meeste winst te behalen valt.</p></div>\n      <div style=\"flex:none;width:180px;height:180px;border-radius:50%;background:#f7f8f9;border:1px solid #edeef0;display:flex;align-items:center;justify-content:center;box-shadow:inset 0 2px 12px rgba(76,80,90,.05);\">${buildRoosMini(rubrieken)}</div></div>\n    <footer style=\"position:relative;z-index:1;padding:24px 0 30px;border-top:1px solid #edeef0;margin-top:10px;display:flex;gap:70px;\"><div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#aeb2bb;margin-bottom:7px;\">Opgesteld voor</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:19px;color:#4c505a;\">${esc(org)}</div></div><div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:2px;text-transform:uppercase;color:#aeb2bb;margin-bottom:7px;\">Datum</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:19px;color:#4c505a;\">${esc(datum)}</div></div></footer>\n    <div aria-hidden=\"true\" style=\"position:absolute;left:0;right:0;bottom:0;height:10px;background:linear-gradient(90deg,#79c6c0,#85cee4 45%,#ec641a);\"></div></section>` +\n  // PAGE 2 — PROFIEL + GROTE ROOS\n  `<section class=\"sheet\" style=\"display:flex;flex-direction:column;padding:16mm 18mm 13mm;\">${innerHeader('Volledig eindrapport')}\n    <main style=\"flex:1;display:flex;flex-direction:column;justify-content:center;gap:24px;\">\n      <section><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:12px;\">Uw profiel</div><div style=\"display:flex;gap:24px;align-items:center;background:#f7f8f9;border:1px solid #edeef0;border-radius:18px;padding:22px 26px;\"><div style=\"flex:none;width:56px;background:#fff;border:1px solid #e7e9ec;border-radius:32px;padding:11px 0;display:flex;flex-direction:column;align-items:center;gap:10px;box-shadow:0 5px 14px rgba(76,80,90,.06);\">${profileBadge(overall, 24)}</div><div><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:1.5px;text-transform:uppercase;color:#ec8a57;margin-bottom:4px;\">Profiel &middot; ${statusWord(overall)}</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:29px;line-height:1.1;color:${stText(overall)};margin-bottom:8px;\">${esc(prof.naam || '')}</div><p style=\"margin:0;font-family:'Lato',sans-serif;font-size:14.5px;line-height:1.6;color:#686c7c;max-width:540px;\">${esc(prof.tekst || '')}</p></div></div></section>\n      <div style=\"display:flex;flex-direction:column;align-items:center;gap:12px;\"><div style=\"text-align:center;\"><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:5px;\">De roos</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:21px;color:#4c505a;\">De negen rubrieken in beeld</div></div>${buildRoosSvg(rubrieken)}</div>\n      <div style=\"display:flex;justify-content:center;gap:26px;flex-wrap:wrap;\"><span style=\"display:flex;align-items:center;gap:8px;font-family:'Lato',sans-serif;font-size:13px;color:#686c7c;\"><span style=\"display:inline-block;width:26px;border-top:2px dashed #79c6c0;\"></span>Norm 80%</span><span style=\"display:flex;align-items:center;gap:8px;font-family:'Lato',sans-serif;font-size:13px;color:#686c7c;\"><span style=\"width:13px;height:13px;border-radius:50%;background:#4bb3a6;\"></span>Op koers</span><span style=\"display:flex;align-items:center;gap:8px;font-family:'Lato',sans-serif;font-size:13px;color:#686c7c;\"><span style=\"width:13px;height:13px;border-radius:50%;background:#ec641a;\"></span>Aandacht</span><span style=\"display:flex;align-items:center;gap:8px;font-family:'Lato',sans-serif;font-size:13px;color:#686c7c;\"><span style=\"width:13px;height:13px;border-radius:50%;background:#6b6f7e;\"></span>Prioriteit</span></div>\n    </main>${pageFooter(org, datum, '2 / 4')}</section>` +\n  // PAGE 3 — TABEL + TOP-3\n  `<section class=\"sheet\" style=\"display:flex;flex-direction:column;padding:16mm 18mm 13mm;\">${innerHeader('Volledig eindrapport')}\n    <main style=\"flex:1;display:flex;flex-direction:column;gap:26px;padding-top:24px;\">\n      <section><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:6px;\">Alle rubrieken</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:23px;color:#4c505a;margin-bottom:16px;\">Scores per rubriek</div>\n        <div style=\"border:1px solid #edeef0;border-radius:16px;overflow:hidden;\"><table style=\"width:100%;border-collapse:collapse;\"><thead><tr style=\"background:#f7f8f9;\"><th style=\"text-align:left;padding:13px 18px;font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:1.2px;text-transform:uppercase;color:#9a9ea8;border-bottom:1px solid #e7e9ec;\">Rubriek</th><th style=\"text-align:right;padding:13px 14px;font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:1.2px;text-transform:uppercase;color:#9a9ea8;border-bottom:1px solid #e7e9ec;\">Score</th><th style=\"text-align:center;padding:13px 14px;font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:1.2px;text-transform:uppercase;color:#9a9ea8;border-bottom:1px solid #e7e9ec;\">Norm</th><th style=\"text-align:left;padding:13px 18px;font-family:'Lato',sans-serif;font-weight:700;font-size:11px;letter-spacing:1.2px;text-transform:uppercase;color:#9a9ea8;border-bottom:1px solid #e7e9ec;\">Status</th></tr></thead><tbody>${rubrieken.map((r, i) => tableRow(r, i === rubrieken.length - 1)).join('')}</tbody></table></div></section>\n      <section><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:6px;\">Top-3 prioriteiten</div><div style=\"font-family:'Comfortaa',sans-serif;font-weight:600;font-size:23px;color:#4c505a;margin-bottom:16px;\">De grootste afstand tot de norm</div><div style=\"display:flex;flex-direction:column;gap:12px;\">${top3.map(prioRow).join('')}</div></section>\n    </main>${pageFooter(org, datum, '3 / 4')}</section>` +\n  // PAGE 4 — SAMENVATTING + CTA\n  `<section class=\"sheet\" style=\"display:flex;flex-direction:column;padding:16mm 18mm 13mm;\">${innerHeader('Volledig eindrapport')}\n    <main style=\"flex:1;display:flex;flex-direction:column;justify-content:flex-start;gap:24px;padding-top:34px;\">\n      <section><div style=\"font-family:'Lato',sans-serif;font-weight:700;font-size:12px;letter-spacing:2.5px;text-transform:uppercase;color:#aeb2bb;margin-bottom:14px;\">Managementsamenvatting</div><div style=\"background:#f7f8f9;border:1px solid #edeef0;border-radius:18px;padding:30px 32px;border-left:5px solid #ec641a;\"><p style=\"margin:0 0 18px;font-family:'Lato',sans-serif;font-size:19px;line-height:1.62;color:#4c505a;\">${esc(samenvatting)}</p><div style=\"display:flex;align-items:center;gap:13px;font-family:'Lato',sans-serif;font-size:15px;color:#686c7c;\"><span style=\"flex:none;font-family:'Comfortaa',sans-serif;font-weight:700;font-size:13px;color:#fff;background:#ec641a;border-radius:9px;padding:6px 14px;\">Vervolgstap</span>Vertaal de uitkomst naar een 90-dagen verbeterplan.</div></div></section>\n      <section><div style=\"position:relative;overflow:hidden;border-radius:22px;padding:32px 36px;background:linear-gradient(120deg,#79c6c0,#85cee4);break-inside:avoid;\"><div aria-hidden=\"true\" style=\"position:absolute;top:-70px;right:-40px;width:230px;height:230px;border-radius:50%;background:rgba(255,255,255,.14);\"></div><div style=\"position:relative;z-index:1;\"><div style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:27px;color:#fff;margin-bottom:10px;\">Plan een adviesgesprek</div><p style=\"margin:0 0 22px;max-width:580px;font-family:'Lato',sans-serif;font-size:15.5px;line-height:1.6;color:rgba(255,255,255,.94);\">Bespreek uw roos met een arbo-adviseur en vertaal de uitkomst naar een concreet verbeterplan voor de komende 90 dagen.</p><div style=\"display:flex;align-items:center;gap:14px;flex-wrap:wrap;\"><span style=\"font-family:'Comfortaa',sans-serif;font-weight:700;font-size:15px;color:#fff;background:#ec641a;border-radius:30px;padding:14px 28px;box-shadow:0 10px 22px rgba(236,100,26,.32);\">Mail onze arbo-adviseur</span><span style=\"margin-left:auto;font-family:'Lato',sans-serif;font-weight:700;font-size:14px;color:rgba(255,255,255,.95);\">arboconcern.nl &middot; 071 - 204 1801</span></div></div></div></section>\n    </main>${pageFooter(org, datum, '4 / 4')}</section>` +\n  TAIL;\n}\n\n/* ---------- entry ---------- */\nfunction renderReport(payload) {\n  return payload && payload.event === 'verdieping_compleet'\n    ? renderEindrapport(payload)\n    : renderTussenrapport(payload);\n}\n\n\n/* ===== n8n-koppeling: payload -> velden ===== */\nconst inItem = $input.first().json || {};\nconst payload = inItem.body || inItem;\nconst event = payload.event === 'verdieping_compleet' ? 'verdieping_compleet' : 'quickscan_lead';\nconst isEind = event === 'verdieping_compleet';\nconst c = payload.contact || {};\nconst q = payload.quickscan || {};\nconst e = payload.eindrapport || {};\nconst org = c.organisatie || 'Uw organisatie';\nconst naam = c.contactpersoon || 'relatie';\nconst lead_email = c.email || '';\nconst html = renderReport(payload);\nconst pdf_basename = isEind ? 'Arbo-Concern-Eindrapport' : 'Arbo-Concern-Tussenrapport';\nconst subject_lead = isEind ? ('Uw volledige bedrijfsgezondheidscan - ' + org) : ('Uw stoplicht-tussenrapport - ' + org);\nconst subject_intern = '[Scan ' + (isEind ? 'verdieping' : 'lead') + '] ' + org + (c.contactpersoon ? (' - ' + c.contactpersoon) : '');\nconst top3 = (e.top3_prioriteiten || []).map(function(t){ return t.thema; }).join('; ');\nconst mail_lead_html =\n  '<div style=\"font-family:Arial,Helvetica,sans-serif;color:#4c505a;font-size:15px;line-height:1.6\">' +\n  '<p>Beste ' + esc(naam) + ',</p>' +\n  '<p>Bedankt voor het invullen van de Bedrijfsgezondheidscan. In de bijlage vindt u uw ' +\n  (isEind ? 'volledige eindrapport met de roos van alle negen rubrieken' : 'stoplicht-tussenrapport') + '.</p>' +\n  '<p>Wilt u de uitkomst bespreken? Plan gerust een vrijblijvend adviesgesprek via ' +\n  '<a href=\"https://www.arboconcern.nl/contact\">arboconcern.nl</a>.</p>' +\n  '<p>Met vriendelijke groet,<br>Arbo Concern</p></div>';\nconst mail_intern_html =\n  '<div style=\"font-family:Arial,Helvetica,sans-serif;color:#4c505a;font-size:14px;line-height:1.6\">' +\n  '<p><strong>Nieuwe scan-lead (' + (isEind ? 'verdieping compleet' : 'quickscan') + ')</strong></p><ul>' +\n  '<li>Organisatie: ' + esc(org) + '</li>' +\n  '<li>Contact: ' + esc(c.contactpersoon || '-') + ' (' + esc(lead_email) + (c.telefoon ? (', ' + esc(c.telefoon)) : '') + ')</li>' +\n  '<li>Sector: ' + esc(c.sector || '-') + ', medewerkers: ' + esc(c.aantal_medewerkers || '-') + '</li>' +\n  '<li>Profiel: ' + esc((q.profiel && q.profiel.naam) || '-') + '</li>' +\n  '<li>Scores: data ' + (q.data_score != null ? q.data_score : '-') + '%, regie ' + (q.regie_score != null ? q.regie_score : '-') + '%' +\n  (isEind ? (', eindrapport ' + (e.overall != null ? e.overall : '-') + '%') : '') + '</li>' +\n  (isEind && top3 ? ('<li>Top-3 prioriteiten: ' + esc(top3) + '</li>') : '') +\n  '</ul><p>Het rapport zit als PDF in de bijlage.</p></div>';\nconst sheet = { timestamp: payload.timestamp || '', organisatie: org, contactpersoon: c.contactpersoon || '', email: lead_email, telefoon: c.telefoon || '', sector: c.sector || '', aantal_medewerkers: c.aantal_medewerkers || '', toestemming: c.toestemming ? 'ja' : 'nee', data_score: q.data_score != null ? q.data_score : '', regie_score: q.regie_score != null ? q.regie_score : '', overall_quickscan: q.overall != null ? q.overall : '', profiel: (q.profiel && q.profiel.naam) || '', verdieping_overall: e.overall != null ? e.overall : '', top3_prioriteiten: top3, adviesroute: e.adviesroute || '', status: event, url: (payload.meta && payload.meta.url) || '' };\nreturn [{ json: { event, lead_email, org, pdf_basename, subject_lead, subject_intern, mail_lead_html, mail_intern_html, html, sheet } }];\n"
      },
      "id": "a2",
      "name": "Bouw rapport",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "resource": "pdfCreation",
        "operation": "htmlToPdf",
        "html_content": "={{ $json.html }}",
        "css_content": "",
        "output_format": "file",
        "output_filename": "={{ $json.pdf_basename }}",
        "timeout": 60
      },
      "id": "a3",
      "name": "HTML naar PDF",
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "6HNJccIf86FCAlIp",
          "name": "HTML to PDF account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "from": "Arbo Concern Bedrijfsgezondheidscan <gezondheidsscan@arboconcern.nl>",
        "to": "={{ $('Bouw rapport').item.json.lead_email }}",
        "subject": "={{ $('Bouw rapport').item.json.subject_lead }}",
        "useTemplate": false,
        "emailFormat": "html",
        "html": "={{ $('Bouw rapport').item.json.mail_lead_html }}",
        "additionalOptions": {
          "attachments": {
            "attachments": [
              {
                "attachmentType": "binaryData",
                "binaryPropertyName": "data",
                "filename": "={{ $('Bouw rapport').item.json.pdf_basename }}.pdf",
                "content_type": "application/pdf"
              }
            ]
          }
        }
      },
      "id": "a4",
      "name": "Mail lead",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        820,
        -160
      ],
      "credentials": {
        "resendApi": {
          "id": "YR0KJd3yaRspcQar",
          "name": "AC_rsnd"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "from": "Arbo Concern Bedrijfsgezondheidscan <gezondheidsscan@arboconcern.nl>",
        "to": "commercieel@arboconcern.nl",
        "subject": "={{ $('Bouw rapport').item.json.subject_intern }}",
        "useTemplate": false,
        "emailFormat": "html",
        "html": "={{ $('Bouw rapport').item.json.mail_intern_html }}",
        "additionalOptions": {
          "attachments": {
            "attachments": [
              {
                "attachmentType": "binaryData",
                "binaryPropertyName": "data",
                "filename": "={{ $('Bouw rapport').item.json.pdf_basename }}.pdf",
                "content_type": "application/pdf"
              }
            ]
          }
        }
      },
      "id": "a5",
      "name": "Mail commercieel",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        820,
        40
      ],
      "credentials": {
        "resendApi": {
          "id": "YR0KJd3yaRspcQar",
          "name": "AC_rsnd"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "",
          "cachedResultName": "KIES of MAAK de leads-Sheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "email"
          ],
          "value": {
            "timestamp": "={{ $('Bouw rapport').item.json.sheet.timestamp }}",
            "organisatie": "={{ $('Bouw rapport').item.json.sheet.organisatie }}",
            "contactpersoon": "={{ $('Bouw rapport').item.json.sheet.contactpersoon }}",
            "email": "={{ $('Bouw rapport').item.json.sheet.email }}",
            "telefoon": "={{ $('Bouw rapport').item.json.sheet.telefoon }}",
            "sector": "={{ $('Bouw rapport').item.json.sheet.sector }}",
            "aantal_medewerkers": "={{ $('Bouw rapport').item.json.sheet.aantal_medewerkers }}",
            "toestemming": "={{ $('Bouw rapport').item.json.sheet.toestemming }}",
            "data_score": "={{ $('Bouw rapport').item.json.sheet.data_score }}",
            "regie_score": "={{ $('Bouw rapport').item.json.sheet.regie_score }}",
            "overall_quickscan": "={{ $('Bouw rapport').item.json.sheet.overall_quickscan }}",
            "profiel": "={{ $('Bouw rapport').item.json.sheet.profiel }}",
            "verdieping_overall": "={{ $('Bouw rapport').item.json.sheet.verdieping_overall }}",
            "top3_prioriteiten": "={{ $('Bouw rapport').item.json.sheet.top3_prioriteiten }}",
            "adviesroute": "={{ $('Bouw rapport').item.json.sheet.adviesroute }}",
            "status": "={{ $('Bouw rapport').item.json.sheet.status }}",
            "url": "={{ $('Bouw rapport').item.json.sheet.url }}"
          },
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organisatie",
              "displayName": "organisatie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "contactpersoon",
              "displayName": "contactpersoon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefoon",
              "displayName": "telefoon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sector",
              "displayName": "sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aantal_medewerkers",
              "displayName": "aantal_medewerkers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "toestemming",
              "displayName": "toestemming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "data_score",
              "displayName": "data_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "regie_score",
              "displayName": "regie_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "overall_quickscan",
              "displayName": "overall_quickscan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "profiel",
              "displayName": "profiel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "verdieping_overall",
              "displayName": "verdieping_overall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "top3_prioriteiten",
              "displayName": "top3_prioriteiten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "adviesroute",
              "displayName": "adviesroute",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a6",
      "name": "Lead naar Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        820,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4ARDqCV2tkldJuF",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "connections": {
    "Scan Webhook": {
      "main": [
        [
          {
            "node": "Bouw rapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouw rapport": {
      "main": [
        [
          {
            "node": "HTML naar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML naar PDF": {
      "main": [
        [
          {
            "node": "Mail lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mail commercieel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lead naar Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}